.form-container {
  display: flex;
  flex-wrap: wrap;
}
.form-item {
  outline: none;
  border: none;
  border-radius: 1em;
  font-size: 1.2em;
  padding: 0.5em;
  margin: 0.5em;
}
.form-item.input {
  width: 55%;
}
.form-item.select {
  width: 25%;
}
.form-item:focus {
  box-shadow: 0px 0px 5px black;
}
.form-icon {
  padding: 0.5em;
  cursor: pointer;
}
.icon {
  cursor: pointer;
}
.btns-group {
  margin: 0.5em;
}
.btns-group .icon {
  margin-bottom: 0.2em;
}
