.form-container {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
}
.form-item {
  outline: none;
  margin-right: 0.75em;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  font-size: 1.2em;
}
.form-item.input {
  width: 60%;
}
.form-item.select {
  width: 20%;
}
.form-item:focus {
  border: 0.1em rgba(184, 181, 179, 0.9) solid;
}
.form-icon {
  padding-top: 0.3em;
  cursor: pointer;
}
.icon {
  cursor: pointer;
}
.btns-group {
  margin: 1em 0;
  display: flex;
}

.btns-group .icon {
  margin-bottom: 0.2em;
}

@media (max-width: 768px) {
  .form-container {
    display: block;
  }
  .form-item.input {
    width: 90%;
  }
  .form-item.select {
    width: fit-content;
    margin-top: 0.5em;
  }

  .form-icon {
    padding-bottom: 1.5em;
  }
  .btns-group {
    display: flex;
    flex-wrap: wrap;
  }
}
