.todo {
  background-color: rgba(221, 218, 45, 0.9);
  cursor: grab;
  border-radius: 2em;
  padding: 1em;
  margin: 0.5em;
  color: black;
  word-wrap: break-word;
}

.todo:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.3);
}
.todo .icon {
  display: inline;
  margin: 0.2em;
  opacity: 0.8;
}
.todo .icon:hover {
  cursor: pointer;
  opacity: 1;
}
.todo .content {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}
.details {
  margin: 0.5em;
}
.btns {
  text-align: right;
}
.completed {
  text-decoration: line-through;
}
