
body{
    font-family: 'Quicksand', sans-serif;
}
li{
    list-style-type: none; 
}
.task {
    cursor: grab;
}
.task:active { 
     cursor: grabbing;
}
div i {
    cursor: pointer;
}
div h2 {
    word-wrap:break-word;
}
.complete {
    display:inline;
    text-decoration: line-through;
}
.add:focus {
   font-size: 100px;
}