body {
  font-family: 'Quicksand', sans-serif;
}
li {
  width: 60%;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  background-color: rgb(245, 248, 67, 0.8);
  list-style-type: none;
  cursor: grab;
}
li .input {
  opacity: 0.8;
}
.icon {
  cursor: pointer !important;
}
.icon:hover {
  opacity: 0.8;
}
li:active {
  cursor: grabbing;
}
li:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.3);
}
div h2 {
  word-wrap: break-word;
}
.complete {
  display: inline;
  text-decoration: line-through;
}
