.todos-container {
  margin: 1em 0;
}
.todos-container .todo {
  width: 65%;
}
.message {
  width: 30%;
  padding: 0.5em;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  background-color: #ecea5e;
  border: 0.1em #434e52 solid;
  cursor: default;
  border-radius: 0.5em;
  color: #434e52;
}

@media (max-width: 800px) {
  .todos-container .todo {
    width: 95%;
  }
  .message {
    width: 95%;
  }
}
