.todos-container {
  margin: 1em;
}

.todos-container .todo {
  width: 60%;
}

@media (max-width: 800px) {
  .todos-container {
    display: block;
  }
  .todos-container .todo {
    width: 90%;
  }
}
